<a href="https://colab.research.google.com/github/puputhandayan/Arraylist/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Menggunakan fungsi bawaan max()

def find_max_builtin(arr):
    return max(arr[5, 8, 2, 17, 9, 4])

#Notasi Big O untuk Solusi 1:
#O(n), di mana n adalah jumlah elemen dalam daftar, karena Python tetap harus melakukan iterasi di balik layar untuk menemukan nilai maksimum

In [3]:
#Menggunakan iterasi manual (membuat loop untuk membandingkan setiap elemen dalam array dan menyimpan nilai terbesar.)

def find_max_manual(arr):
    max_num = arr [5, 8, 2, 17, 9, 4]
    for num in arr:
        if num > max_num:
            max_num = num
    return max_num

#Notasi Big O untuk Solusi 2:
#O(n), karena kita harus memeriksa setiap elemen dalam daftar satu per satu, sama seperti max().

In [5]:
a = int (input("a: "))
b = int (input("b: "))
c = int (input("c: "))

print(a,b,c )

a: 12
b: 2
c: 15
12 2 15